<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="devices0" value="device"/>
    <add key="devices1" value="deviceAll-Old-YN194E-2SY"/>
    <add key="devices2" value="deviceAll-YN194E-2SY"/>
    <add key="devices3" value="device-CL7339N"/>
    <add key="devices4" value="device-DTSF1352"/>
    <add key="devices5" value="device-PD168"/>
    <add key="devices6" value="device-PD168-main"/>
    <add key="devices7" value="device-SPM33"/>
    <add key="devices8" value="device-松下表1"/>
    <add key="devices82" value="device-松下表1-main"/>
    <add key="devices9" value="device-松下表2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
